*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
}

body{background-color: rgba(239, 185, 185, 1);
margin-top:}
/*---------------------NAV--------------------------*/	
nav { position: fixed; text-align: center;
    left: 0;
right: 0;
margin: auto;
z-index:2 ;
background-color: white;}
nav ul li { display: inline; 
font-family: 'Nunito', sans-serif;
list-style-type: none;
    font:rgba(246, 198, 250, 100);
    font-size: 1.5em;
    text-decoration: none!important;
    list-style: none;
}
.nav_item {
	padding: 20px 50px;
	display: inline-block;
    
}

a{text-decoration: none;
color: black}
.nav_item1:hover {background-color: rgba( 246, 198, 250, 100)}
.nav_item2: {background-color: rgba( 196, 252, 196, 1)}
.nav_item3:hover {background-color: rgba( 239, 185, 185, 1)}
.nav_item4:hover {background-color: rgba( 179, 185, 247, 1)}
.nav_item5:hover {background-color: rgba( 246, 250, 198, 1)}

li a{text-decoration: none;
color: black;}
.nav_item {
	padding: 20px 50px;
	display: inline-block;
}

.section{margin-top:50px}
h1{font-size: 5em;
    z-index: 3;
position: absolute;margin-top: 2.5em;
    margin-left:-60px;
z-index: 0;
    left: 1em;
font-family: 'Paytone One', sans-serif;
color: white;
}
h2{text-align: center;
font-size:3em;
    font-family'Paytone One', sans-serif;}
.content{position: relative;
    margin: auto;
left: 0;
right: 0;
    margin-top: 125px;
background-color: rgba( 255,255,255,1);
width: 80%}
.banner{width:100%;
position: relative;
top: 4em;
z-index:-1;}
p{padding: 2em;
font-size: 1.5em;
width: 60%;
    margin: auto;
text-align:inherit;
font-family: 'Nunito', sans-serif;
line-height: 1.5em;}
.flex-container{display: flex;
flex-wrap: wrap;}
.flex-item{flex-grow: 1;
width: 300px;
    max-height: 300px;
margin: 5px  ;}

video{display: block;
margin: auto;
margin-top: 10em;}
.bottombanner{width: 100%;
position: relative;}

.social{  left: 0;
        right:0;
    margin: auto;
        width:540px;
        }
.social li {list-style: none;
    display: inline-block;
    padding:2em 3em;
   width: ;
        
}
.social li:hover{opacity: 0.5;}
.footer {position: absolute;
    bottom: 100;
    width: 100%;
	height: auto;	
	background-color: lightgray;
}
	
