/*------------------css reset-----------------*/
*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
}
/*---------------------NAV--------------------------*/	
nav { position: absolute; text-align: center;
    left: 0;
    top: 0;
right: 0;
margin: auto;
z-index: 4;
background-color: white;
opacity:0.7 }
nav ul li { display: inline; 
font-family:'Indie Flower', cursive;
list-style-type: none;
    font:rgba(246, 198, 250, 100);
    font-size: 1.5em;
    text-decoration: none!important;
    list-style: none;
}
.nav_item {
	padding: 20px 50px;
	display: inline-block;
    
}
a{text-decoration: none;
color: black}
.nav_item1:hover {background-color: rgba( 246, 198, 250, 100)}
.nav_item2:hover {background-color: rgba( 196, 252, 196, 1)}
.nav_item3:hover {background-color: rgba( 239, 185, 185, 1)}
.nav_item4:hover {background-color: rgba( 179, 185, 247, 1)}
.nav_item5:hover {background-color: rgba( 246, 250, 198, 1)}
/*-----------------------------------------------*/	

body{overflow-x: hidden;
  background-color: rgba( 179, 185, 247,1);
}

.goTop{position: fixed;
margin-top: -20px;
z-index: 3;}
/
/*---------------------Blog--------------------------*/	
	.sectionFour {
	height: 100vh;	
	background-color: rgba( 179, 185, 247,1);
        width: 100%;}

 .sidebar{width:15%;
position: fixed;
height: 100vh;
background-color: rgba(193,199,246,1);
top:0;}   
.sidebar li{padding: 2em 2em;
    font-family:'Indie Flower', cursive;
    color: white;
 }
.sidebar ul{margin-top:  63px}
.sidebar li:hover{opacity: 0.4;}
.sidebar ul li a:hover{background-color: aqua}

h1{font-family: 'Nunito', sans-serif; 
font-size: 8em;
margin-top:100px;
    text-align: center;
    color: white;
    
}

p{font-family: 'Nunito', sans-serif;}


.footer {
	background-color: lightgray;
    position:relative;
    bottom: 0;
    width: 100%;
    z-index:4 ;
}
.blog{position: relative;
    background-color: rgba(250,250,250,0.2);
    top:2em;
    max-width:  895px;
    text-align: center;
left: 0;
right:0;
margin: auto;
height: 100vh;}

.social{  left: 0;
        right:0;
    margin: auto;
        width:540px;
        }
.social li {list-style: none;
    display: inline-block;
    padding:2em 3em;
   width: ;
        
}
.social li:hover{opacity: 0.5;}





@media screen and (max-width: 1007px) {
    .sectionTwo .info{display: none;}
}
	