/*------------------css reset-----------------*/
*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
}
/*---------------------NAV--------------------------*/	
nav { position: fixed; text-align: center;
    left: 0;
right: 0;
margin: auto;
z-index:2 ;
background-color: white;}
nav ul li { display: inline; 
font-family: 'Nunito', sans-serif;
list-style-type: none;
    font:rgba(246, 198, 250, 100);
    font-size: 1.5em;
    text-decoration: none!important;
    list-style: none;
}
.nav_item {
	padding: 20px 50px;
	display: inline-block;
    
}

.nav_item2{background-color: rgba( 196, 252, 196, 1);
text-decoration: underline;
}

a{text-decoration: none;
color: black}
.nav_item1:hover {background-color: rgba( 246, 198, 250, 100)}

.nav_item3:hover {background-color: rgba( 239, 185, 185, 1)}
.nav_item4:hover {background-color: rgba( 179, 185, 247, 1)}
.nav_item5:hover {background-color: rgba( 246, 250, 198, 1)}
/*-----------------------------------------------*/	
section { padding: 20px;
    
}
body{overflow-x: hidden;
}

.goTop{position: fixed;
margin-top: -20px;
z-index: 3;}


.biggearcircles{position: fixed;float:left;
left:-100px; 
top:330px;
    z-index: -1;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 50s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }}
.biggear{position: fixed;
 z-index: -1;
float:right;
right: -100px;top:-200px;
      -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 50s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }}

.smallgear{position: fixed;float:right;right:340px; z-index: -1;
top:-50px;   -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 30s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }}
.spikegear{position: fixed;float:right;right:100px;top:440px; z-index: -1;
       -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 40s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
.spikegear2{position: fixed;float:left;left:250px;top:-100px; z-index: -1;
    
       -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 40s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
.woodengear{position: fixed;float:right; left:-60px;  z-index: -1; -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 30s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(360deg); } }}

.woodengear2{position: fixed;float:right; right:-120px;top:225px; z-index: -1;  -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 25s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(360deg); } }


/*---------------------ABOUT--------------------------*/	
.sectionThree {
	height: auto;	
	background-color: rgba( 196, 252, 196,100);
    width: 100%;
   
}
.flex-container{display: flex;
   flex-wrap: wrap;
justify-content: center;}
.flex-item{}
h1{font-size:  5em;
    margin-top: 80px;
    margin-left: 40px;
    color:rgba( 196, 252, 196,100);
    background-color: rgba(250,250,250,0.8);
    padding:0.5em; 
    
font-family: 'Paytone One', sans-serif;
text-align: center;}
.about{z-index: 0;position: relative}
.me{width: 50hw}
.aboutimageandinfo{display:block;
    
width: 100%;}



.aboutinfo {left:0;
    right:0;
    width: 100%;
padding:1.5em;
    margin:auto;

font-size: 1.5em;}
.aboutinfo p{
    font-family: 'Nunito', sans-serif;
   background-color: rgba(255,255,255,0.2);
   width:70%;
    margin: auto;
padding:1em;
line-height:1.5em;
font-size: 1em;
}
.button p{font-size: 1.5em;
padding:1em 1.5em 1em 1.5em;
text-align: center;}
.button{width:40% ;
   
   
    font-family: 'Nunito', sans-serif;
    background-color:  rgba( 239, 185, 185, 1);
    border: 2px;
    border-style: dashed;
    border-color: white;
    -webkit-transition: linear .2s; /* For Safari 3.1 to 6.0 */
    transition: linear .2s;
;
    
}
.button:hover{background-color: rgba( 240, 210, 210,1);
border-radius: 45px;}


.footer {
	height: auto;	
	background-color: lightgray;
}
	

.social{  left: 0;
        right:0;
    margin: auto;
        width:540px;
        }
.social li {list-style: none;
    display: inline-block;
    padding:2em 3em;
   width: ;
        
}
.social li:hover{opacity: 0.5;}




@media screen and (max-width: 1007px) {
    .sectionTwo .info{display: none;}
}
	